html {
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: 1.5;
}
p {
  font-size: 0.8em;
}

/* Info bar on top */
#topbar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 4px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.8);
  height: 70px;
}
#config {
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
#loadingWrapper {
  width: 300px;
  margin: auto;
  text-align: center;
}
#status {
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
#mruList, #mruList li, #moreListContainer, #moreListContainer h2 {
  margin: 0;
  padding: 0;
  display: inline;
}
#mruList li::after {
  content: " | ";
}
#mruList a, #mruList strong {
  font-weight: bold;
}
#moreListContainer h2 {
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}
#moreListContainer {
  position: relative;
}
#moreList {
  position: absolute;
  left: -5px;
  top: 100%;
  padding: 5px !important;
  white-space: nowrap;
  background-color: white;
  -moz-box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc;
}
#moreListContainer:not(:hover) #moreList {
  display: none;
}
#moreList, #moreList li {
  display: block;
  margin: 0;
  padding: 0;
}
#moreList a {
  padding: 5px 0;
}
.loading {
  background: url(../images/loading_16.png) center left no-repeat transparent;
  padding: 3px 0 3px 20px;
  margin: -3px 0 -3px;
}
#config a {
  cursor: pointer;
}
#config a.selected {
  font-weight: bold;
  color: black !important;
  text-decoration: none !important;
}

#goForward, #goBack {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
  background: url(../images/tango-updown.png) no-repeat;
}
#goForward {
  background-position: top left;
}
#goBack {
  background-position: bottom left;
}

iframe {
  display: none;
}
#pushes {
  font-weight: normal;
  text-align: left;
  font-size: 0.76em;
  padding: 10px 20px;
  position: absolute;
  margin: 0;
  top: 78px;
  bottom: 0px;
  overflow: auto;
  left: 0;
  right: 0;
}
body.details > #pushes {
  bottom: 121px;
}
body:not(.details) > #pushes > li:last-child {
  margin-bottom: 121px;
}
#pushes, .patches, .results {
  list-style: none;
}
#pushes > li, .patches > li, .results > li {
  display: block;
}
#pushes > li::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#pushes h2 {
  font-size: 1em;
  border: solid #DDD;
  border-width: 1px 0;
  padding: 4px;
}
.patches {
  margin-right: 50%;
  padding-right: 20px;
  min-height: 50px;
}
.patches > li {
  overflow: hidden;
}
.patches > li > div {
  white-space: nowrap;
  margin-left: 95px;
}
.patches > li > .popup.hovering {
  white-space: normal;
  position: absolute;
  margin-right: 60px;
  display: none;
}
.patches > li > .popup.hovering > span {
  display: block;
  padding: 2px 5px;
  margin: -2px -5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFD;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
span.logtags span {
  padding: 0px 4px;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid;
  background-color: #ffaaff;
  border-color: #ffccff #ff00ee #ff00ee #ffccff;
}
span.logtags span.tagtag {
  background-color: #ffffaa;
  border-color: #ffffcc #ffee00 #ffee00 #ffffcc;
}
span.logtags span.branchtag {
  background-color: #aaffaa;
  border-color: #ccffcc #00cc33 #00cc33 #ccffcc;
}
span.logtags span.inbranchtag {
  background-color: #d5dde6;
  border-color: #e3ecf4 #9398f4 #9398f4 #e3ecf4;
}
.revlink {
  float: left;
  width: 95px;
}
.results {
  float: right;
  width: 50%;
  padding: 0;
}
.results .os {
  float: left;
  width: 60px;
  word-spacing: 0;
}
.osresults {
  display: block;
  margin-left: 60px;
  overflow: hidden;
}
#pushes .machineResult,
#addNotePopup .machineResult,
#addNotePopup #logNoteSuggestions a {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 5px 2px;
  float: left;
  outline: none !important;
}
.machineResult:hover, .machineResult[active=true],
#logNoteSuggestions a:hover {
  color: white !important;
  text-decoration: none;
}
.machineResult.success    { color: #390; }
.machineResult.testfailed { color: #F60; }
.machineResult.busted     { color: #D00; }
.machineResult.building   { color: #CCC; }
.machineResult.success:hover    { background-color: #4A0; }
.machineResult.testfailed:hover { background-color: #F70; }
.machineResult.busted:hover     { background-color: #E00; }
.machineResult.building:hover   { background-color: #DDD; }
.machineResult.success:active    { background-color: #5B1; }
.machineResult.testfailed:active { background-color: #F81; }
.machineResult.busted:active     { background-color: #F00; }
.machineResult.building:active   { background-color: #EEE; }
.machineResult.success[active=true]    { background-color: #4A0; }
.machineResult.testfailed[active=true] { background-color: #F70; }
.machineResult.busted[active=true]     { background-color: #D00; }
.machineResult.building[active=true]   { background-color: #DDD; }

/* helps the color-blind */
.machineResult.busted, .machineResult.testfailed { text-decoration: underline }

#pushes .machineResultGroup .machineResult {
  padding: 0 2px 2px;
}

#pushes .machineResultGroup::before {
  content: attr(machinetype) "\2009(";
  margin-left: 4px;
  margin-right: -2px;
}

#pushes .machineResultGroup::after {
  content: ")";
  margin-left: -2px;
  margin-right: 4px;
}

#pushes .machineResultGroup::before,
#pushes .machineResultGroup::after {
  float: left;
  font-size: 1.1em;
  padding: 0 0 2px;
  color: #777;
}

a {
  text-decoration: none;
}
a:visited, a:focus {
  color: #528;
  outline: none;
}
a:hover {
  text-decoration: underline;
  color: #D00;
}
a:active {
  color: #800;
}


/* Selected results */
#details {
  display: none;
  border-top: 1px solid #DDD;
  position: absolute;
  padding: 0;
  z-index: 4;
  left: 0;
  bottom: 0;
  right: 0;
  height: 120px;
  background: white;
  font-size: 0.76em;
}
body.details > #details
{
  display: block;
}

#details > div:first-child {
  border-right: 1px solid #DDD;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 450px;
}

#details > div > h3 {
  margin: 0;
  font-size: 1em;
  text-align: left;
  padding: 2px 5px;
  position: relative;
}

#details > div > h3 > .time {
  float: right;
  font-weight: normal;
}

#details > div > span, #details > div > a {
  padding-left: 5px;
  display: block;
}

#status a.testfailed {
  background-color: #F70 !important;
}
#status a.busted {
  background-color: #D00 !important;
}
#status a {
  float: left;
  width: 17px;
  height: 17px;
  opacity: 0.8;
  text-indent: 1000px;
  overflow: hidden;
  margin-right: 1px;
  margin-bottom: 1px;
}
#status a:hover {
  -moz-box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
}
#status a:active {
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

#status a.hasNote {
  background-image: url(../images/starredbox.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#status .machineResult[active=true] {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}
#status a[active=true]:hover {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
}
#status a[active=true]:active {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

.state.building   { color: #CCC; }
.state.success    { color: #390; }
.state.testfailed { color: #F60; }
.state.busted     { color: #E00; }
.duration {
  font-weight: normal;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#results {
  margin: 0;
  padding: 5px 0 0 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 450px;
  right: 0;
  overflow: hidden;
  overflow-x: auto;
  /* I really don't know whats going on here,
   * try changing these values using firebug, the columns simply won't
   * respect their set width.
   */
  -moz-column-width: 280px;
  -webkit-column-width: 280px;
  column-width: 280px;
}

em.testfail {
  font-style: normal;
  font-weight: bold;
  color: #F00;
}
.stars {
  position: absolute;
  bottom: 120px;
  right: 25px;
  max-width: 100%;
  margin-right: -1px;
  border: 1px solid #DDD;
  z-index: 3;
}
.stars div {
  max-height: 150px;
  overflow: auto;
  padding: 10px;
}
.stars .note {
  background:  rgba(255, 250, 204, 0.9);
}
.stars .summary {
  background:  rgba(204, 250, 255, 0.9);
  font-size: 10px;
  border-top: 1px solid #DDD;
}
.stars .summary [data-bugid] {
  padding-left: 5em;
  display: block;
}
.stars .summary [data-bugid] + br {
  display: none;
}
.stars .summary [data-status~=RESOLVED],
.stars .summary [data-status~=VERIFIED] {
  text-decoration: line-through;
}
.stars .summary [data-status~=UNCONFIRMED] {
  font-style: italic;
}
.stars .summary span.highlight {
  font-weight: bold;
}
#details:not([state="testfailed"]):not([state="busted"]) .stars .summary {
  display: none;
}
#details:not([state="testfailed"]):not([state="busted"]) .stars .note,
#details:not(.hasStar) .stars .summary {
  max-height: 300px;
  border-top: none;
}
.stars .starSuggestion {
  float: left;
  clear: left;
  width: 16px;
  height: 16px;
  background: url(../images/star.png);
  margin-right: 0.25em;
  margin-top: -2px;
  padding: 0;
  cursor: pointer;
}
.stars .starSuggestion.active {
  background: url(../images/starred.png);
}
#autoStar {
  float: left;
  width: 16px;
  height: 16px;
  background: url(../images/star.png);
  margin-right: 0.25em;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}
#autoStar.active {
  background: url(../images/starred.png);
}

#addNotePopup {
  position: absolute;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -180px;
  display: none;
  z-index: 4;
  color: white;
  padding: 0;
  font-size: 0.72em;
  cursor: default;
  background: rgba(0, 0, 0, 0.75);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid transparent;
  border-width: 10px 18px 25px;
}
#addNotePopup:nth-child(1n) {
  -moz-border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  -webkit-border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  background: transparent;
}
#bar:nth-child(1n) { /* Preload the border image (XXX hack) */
  background: url(../images/hudborderimage.png) -1000px -1000px no-repeat white;
}
#closeAddNotePopup {
  position: absolute;
  top: -5px;
  left: -7px;
  width: 13px;
  height: 13px;
  background: url(../images/closebutton.png) top left no-repeat;
  opacity: 0.5;
  text-indent: -1000px;
  overflow: hidden;
}
#closeAddNotePopup:hover {
  opacity: 0.7;
}
#closeAddNotePopup:active {
  opacity: 0.9;
}
#addNotePopup h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 19px;
}
#addNotePopup form {
  margin: -8px -13px -15px;
}
#addNotePopup table,
#addNotePopup p {
  padding: 8px 10px;
  margin: 0;
}
#addNotePopup th,
#addNotePopup td {
  padding: 2px;
  vertical-align: top;
}
#addNotePopup th,
#addNotePopup p {
  text-align: right;
}
#addNotePopup th {
  padding-bottom: 4px;
  text-shadow: 0 1px #000;
}
#addNotePopup .machineResult,
#addNotePopup #logNoteSuggestions a {
  padding: 0 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#addNotePopup #logNoteSuggestions a {
  color: #aaf;
  white-space: nowrap;
}
#addNotePopup #logNoteSuggestions a.added {
  color: white;
  background: #aaf;
}
#addNotePopup .machineResult[active=true] {
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px rgba(0, 0, 0, 0.6);
}
#addNotePopup input[type=text],
#addNotePopup textarea {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  padding: 2px;
  color: white;
  -moz-user-select: text;
}
#addNotePopup input[type=text]:focus,
#addNotePopup textarea:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  -moz-outline-radius: 2px;
  -webkit-outline-radius: 2px;
  outline-radius: 2px;
}
#addNotePopup input[type=submit] {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  -moz-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  padding: 1px 10px;
  margin: 0 5px 5px 0;
}
#addNotePopup input[type=submit][disabled] {
  color: rgba(255, 255, 255, 0.4);
}
#addNotePopup input[type=submit]:focus {
  -moz-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  outline: 0;
}
#addNotePopup input[type=submit]:not([disabled]):active:hover {
  -moz-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  background: rgba(255, 255, 255, 0.4);
}
#addNotePopup input[type=submit]::-moz-focus-inner {
  border: 0;
}

.performanceComparatorResult {
  position: absolute;
  z-index: 1000; left: 0px;
  top: 0px;
  background-color: #ffffff;
  border: 1px solid black;
  font-size: 0.6em;
}
