html {
    font-family: "Lucida Grande", Verdana, sans-serif;
    line-height: 1.5;
}

/* Chooser */
#chooser {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 4px;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.8);
}
#treechooser {
    font-weight: bold;
}
#loading {
    margin-left: 100px;
    font-weight: normal;
    padding: 1px 0 1px 20px;
}
#loading.loading {
    background: url(loading_16.png) center left no-repeat transparent;
}


iframe {
    display: none;
}
#pushes {
    font-weight: normal;
    text-align: left;
    font-size: 0.76em;
    padding: 2em 3em 0;
}
#pushes, .patches, .results {
    list-style: none;
}
#pushes > li, .patches > li, .results > li {
    display: block;
    position: relative;
}
#pushes > li::after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
#pushes h2 {
    font-size: 1em;
    border: solid #DDD;
    border-width: 1px 0;
    padding: 4px;
}
.patches {
    margin-right: 36em;
    overflow: hidden;
    min-height: 5em;
}
.patches > li {
    white-space: nowrap;
}
.revlink {
    float: left;
    width: 8em;
}
.results {
    float: right;
    width: 34em;
}
.results .os {
    float: left;
    width: 6em;
    word-spacing: 0;
}
.osresults {
    display: block;
    margin-left: 6em;
    overflow: hidden;
}
.machineResult {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 5px 2px;
    float: left;
    outline: none !important;
}
.machineResult:hover, .machineResult[active=true] {
    color: white !important;
    text-decoration: none;
}
.machineResult.success    { color: #0C0; }
.machineResult.testfailed { color: #F80; }
.machineResult.busted     { color: #D00; }
.machineResult.building   { color: #CCC; }
.machineResult.success:hover    { background-color: #0D0; }
.machineResult.testfailed:hover { background-color: #F91; }
.machineResult.busted:hover     { background-color: #E00; }
.machineResult.building:hover   { background-color: #DDD; }
.machineResult.success:active    { background-color: #0B0; }
.machineResult.testfailed:active { background-color: #E70; }
.machineResult.busted:active     { background-color: #C00; }
.machineResult.building:active   { background-color: #BBB; }
.machineResult.success[active=true]    { background-color: #0C0; }
.machineResult.testfailed[active=true] { background-color: #F80; }
.machineResult.busted[active=true]     { background-color: #D00; }
.machineResult.building[active=true]   { background-color: #CCC; }

a {
    text-decoration: none;
}
a:visited {
    color: #528;
}
a:hover {
    text-decoration: underline;
}
a:hover, a:focus {
    color: #D00;
    outline: none;
}
a:active {
    color: #800;
}

/* Boxes */

#pushes {
    position: absolute;
    margin: 0;
    top: 2.5em;
    bottom: 10em;
    overflow: auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DDD;
}

/* Bar */

#bar {
    position: absolute;
    padding: 0;
    z-index: 4;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10em;
    background: white;
    font-size: 0.76em;
}


/* Current tree state table */
table {
    font-size: 0.8em;
    margin: 10px 20px 0 0;
    float: right;
    border-collapse: collapse;
}
th {
    font-weight: normal;
}
td, th {
    border: 1px solid white;
    padding: 1px;
}
th:not(:first-child) {
    width: 7em;
}
th:first-child {
    text-align: right;
    font-size: 0.9em;
}
th img {
    width: 1em;
    vertical-align: -10%;
}
td.success {
    background-color: #0C0;
}
td.testfailed {
    background-color: #F90;
}
td.busted {
    background-color: #D00;
}
td[resultID] {
    cursor: pointer;
    opacity: 0.7;
}
td[resultID]:hover {
    opacity: 0.9;
}
td[resultID]:active {
    opacity: 1;
}


#results {
    margin: 0 24em 0 0;
    border-right: 1px solid #DDD;
    height: 10em;
    position: relative;
}

#results > h3 {
    margin: 0;
    font-size: 1em;
    text-align: left;
    padding: 2px 5px;
    position: relative;
}
#results[state=building]   .state { color: #AAA; }
#results[state=success]    .state { color: #0B0; }
#results[state=testfailed] .state { color: #D70; }
#results[state=busted]     .state { color: #B00; }
.duration {
    font-weight: normal;
    position: absolute;
    right: 5px;
}
a.briefLog, a.fullLog, a.addNote {
    position: absolute;
    right: 5px;
    top: 1.8em;
    margin-top: 1px;
}
a.fullLog {
    top: 3.6em;
}
a.addNote {
    top: 5.4em;
}

.unitTestResults, .talosResults {
    max-width: 40em;
    margin: 8px 0;
}

.unitTestResults > li, .talosResults > li {
    float: left;
    width: 18em;
}
em.testfail {
    font-style: normal;
    font-weight: bold;
    color: #F00;
}
.stars, #addNotePopup {
    display: none;
    position: absolute;
    bottom: 10em;
    right: 0;
    margin-right: -1px;
    background: #FFFACC;
    border: 1px solid #DDD;
    padding: 10px;
    z-index: 3;
}
#results:hover .stars {
    display: block;
}

#results.hasStar {
    background: url(bigstar.png) 80% 50% no-repeat white;
}
#results.hasStar:hover {
    background-image: url(bigstar_hover.png);
}
#results.hasStar > h3 {
    background: url(bigstar_hover.png) -1000px 0 no-repeat transparent;
}

#addNotePopup {
    right: 24em;
    z-index: 4;
    background: url(loading_16.png) center center no-repeat white;
    padding: 0;
}
#addNotePopup a {
    position: absolute;
    left: -1px;
    bottom: 100%;
    border: 1px solid #DDD;
    border-bottom: 0;
    background: white;
    padding: 1px 5px 2px;
    color: #00F;
}
#addNotePopup a:hover,
#addNotePopup a:focus {
    color: #D00;
}
#addNotePopup a:active {
    color: #800;
}
#addNotePopup iframe {
    display: block;
    width: 40em;
    height: 30em;
    border: 0;
}
#addNotePopup.open {
    display: block;
    margin: 0;
}
