html {
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: 1.5;
}
p {
  font-size: 0.8em;
}

/* Chooser */
#chooser {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 4px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.8);
}
#treechooser {
  font-weight: bold;
}
#loading {
  margin-left: 100px;
  font-weight: normal;
  padding: 1px 0 1px 20px;
}
.loading {
  background: url(loading_16.png) center left no-repeat transparent;
}
#tzchooser {
  position: absolute;
  right: 4px;
}
#tzchooser a.selected {
  font-weight: bold;
  color: black !important;
  text-decoration: none !important;
}

#goForward, #goBack {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
  background: url(tango-updown.png) no-repeat;
}
#goForward {
  background-position: top left;
}
#goBack {
  background-position: bottom left;
}

iframe {
  display: none;
}
#pushes {
  font-weight: normal;
  text-align: left;
  font-size: 0.76em;
  padding: 2em 3em 0;
}
#pushes, .patches, .results {
  list-style: none;
}
#pushes > li, .patches > li, .results > li {
  display: block;
}
#pushes > li::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#pushes h2 {
  font-size: 1em;
  border: solid #DDD;
  border-width: 1px 0;
  padding: 4px;
}
.patches {
  margin-right: 50%;
  padding-right: 2em;
  min-height: 5em;
}
.patches > li {
  overflow: hidden;
}
.patches > li > div {
  white-space: nowrap;
  margin-left: 8em;
}
.patches > li > .popup.hovering {
  white-space: normal;
  position: absolute;
  margin-right: 6em;
  display: none;
}
.patches > li > .popup.hovering > span {
  display: block;
  padding: 2px 5px;
  margin: -2px -5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFD;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
span.logtags span {
	padding: 0px 4px;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid;
	background-color: #ffaaff;
	border-color: #ffccff #ff00ee #ff00ee #ffccff;
}
span.logtags span.tagtag {
	background-color: #ffffaa;
	border-color: #ffffcc #ffee00 #ffee00 #ffffcc;
}
span.logtags span.branchtag {
	background-color: #aaffaa;
	border-color: #ccffcc #00cc33 #00cc33 #ccffcc;
}
span.logtags span.inbranchtag {
	background-color: #d5dde6;
	border-color: #e3ecf4 #9398f4 #9398f4 #e3ecf4;
}
.revlink {
  float: left;
  width: 8em;
}
.results {
  float: right;
  width: 50%;
  padding: 0;
}
.results .os {
  float: left;
  width: 6em;
  word-spacing: 0;
}
.osresults {
  display: block;
  margin-left: 6em;
  overflow: hidden;
}
#pushes .machineResult,
#addNotePopup .machineResult {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 5px 2px;
  float: left;
  outline: none !important;
}
.machineResult:hover, .machineResult[active=true] {
  color: white !important;
  text-decoration: none;
}
.machineResult.success    { color: #0C0; }
.machineResult.testfailed { color: #F80; }
.machineResult.busted     { color: #D00; }
.machineResult.building   { color: #CCC; }
.machineResult.success:hover    { background-color: #0D0; }
.machineResult.testfailed:hover { background-color: #F91; }
.machineResult.busted:hover     { background-color: #E00; }
.machineResult.building:hover   { background-color: #DDD; }
.machineResult.success:active    { background-color: #0B0; }
.machineResult.testfailed:active { background-color: #E70; }
.machineResult.busted:active     { background-color: #C00; }
.machineResult.building:active   { background-color: #BBB; }
.machineResult.success[active=true]    { background-color: #0C0; }
.machineResult.testfailed[active=true] { background-color: #F80; }
.machineResult.busted[active=true]     { background-color: #D00; }
.machineResult.building[active=true]   { background-color: #CCC; }

#pushes .machineResultGroup .machineResult {
  padding: 0 2px 2px;
}

#pushes .machineResultGroup::before {
  content: attr(machinetype) "\2009(";
  margin-left: 4px;
  margin-right: -2px;
}

#pushes .machineResultGroup::after {
  content: ")";
  margin-left: -2px;
  margin-right: 4px;
}

#pushes .machineResultGroup::before,
#pushes .machineResultGroup::after {
  float: left;
  font-size: 1.1em;
  padding: 0 0 2px;
  color: #777;
}

a {
  text-decoration: none;
}
a:visited, a:focus {
  color: #528;
  outline: none;
}
a:hover {
  text-decoration: underline;
  color: #D00;
}
a:active {
  color: #800;
}

/* Boxes */

#pushes {
  position: absolute;
  margin: 0;
  top: 2.5em;
  bottom: 10em;
  overflow: auto;
  left: 0;
  right: 0;
  border-bottom: 1px solid #DDD;
}

/* Bar */

#bar {
  position: absolute;
  padding: 0;
  z-index: 4;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10em;
  background: white;
  font-size: 0.76em;
}


/* Current tree state table */
#matrix {
  font-size: 0.8em;
  margin: 10px 20px 0 0;
  float: right;
  table-layout: fixed;
  width: 30em;
  border-collapse: collapse;
}
th {
  font-weight: normal;
}
td, th {
  border: 0;
  padding: 0;
  vertical-align: top;
}
#matrix th:not(:first-child) {
  width: 81px;
}
#matrix th:first-child {
  text-align: right;
  font-size: 0.9em;
  padding-right: 2px;
}
#matrix th img {
  width: 1em;
  vertical-align: -10%;
}
#matrix a.success {
  background-color: #0C0 !important;
}
#matrix a.testfailed {
  background-color: #F90 !important;
}
#matrix a.busted {
  background-color: #D00 !important;
}
#matrix a {
  float: left;
  width: 8px;
  height: 8px;
  opacity: 0.8;
  text-indent: -1000px;
  overflow: hidden;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#matrix a.testfailed,
#matrix a.busted {
  width: 17px;
  height: 17px;
}
#matrix a:hover {
  -moz-box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 4px 15px rgba(255, 255, 255, 0.25);
}
#matrix a:active {
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

#matrix a.hasNote {
  background-image: url(starredbox.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#matrix .machineResult[active=true] {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}
#matrix a[active=true]:hover {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 4px 15px rgba(255, 255, 255, 0.25);
}
#matrix a[active=true]:active {
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 3px 10px rgba(0, 0, 0, 0.1);
}

#results {
  margin: 0 24em 0 0;
  border-right: 1px solid #DDD;
  height: 10em;
  position: relative;
}

#results > h3 {
  margin: 0;
  font-size: 1em;
  text-align: left;
  padding: 2px 5px;
  position: relative;
}
#results[state=building]   .state { color: #AAA; }
#results[state=success]    .state { color: #0B0; }
#results[state=testfailed] .state { color: #D70; }
#results[state=busted]     .state { color: #B00; }
.duration {
  font-weight: normal;
  position: absolute;
  right: 5px;
}
a.briefLog, a.fullLog, a.addNote, #summaryLoader {
  position: absolute;
  right: 5px;
  bottom: 3.6em;
  margin-bottom: 2px;
}
a.fullLog {
  bottom: 1.8em;
}
a.addNote {
  bottom: 0;
}
#summaryLoader {
  bottom: 5.8em;
  padding: 1px 0 1px 20px;
}

.testResults {
  margin: 0;
  position: absolute;
  top: 2.7em;
  bottom: 0;
  left: 0;
  right: 10em;
  overflow: hidden;
  overflow-x: auto;
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
}

em.testfail {
  font-style: normal;
  font-weight: bold;
  color: #F00;
}
.stars {
  position: absolute;
  bottom: 10em;
  right: 0;
  margin-right: -1px;
  border: 1px solid #DDD;
  z-index: 3;
}
.stars div {
  max-height: 15em;
  overflow: auto;
  padding: 10px;
}
.stars .note {
  background: #FFFACC;
}
.stars .summary {
  background: #CCFAFF;
  font-size: 10px;
  border-top: 1px solid #DDD;
}
#results:not(.hasSummary) .stars .summary {
  display: none;
}
#results:not(.hasSummary) .stars .note,
#results:not(.hasStar) .stars .summary {
  max-height: 30em;
  border-top: none;
}
#results.hasStar {
  background: url(bigstar.png) 80% 50% no-repeat white;
}

#addNotePopup {
  position: absolute;
  top: 40%;
  margin-top: -15em;
  left: 50%;
  margin-left: -18em;
  display: none;
  z-index: 4;
  color: white;
  padding: 0;
  font-size: 0.72em;
  cursor: default;
  background: rgba(0, 0, 0, 0.75);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid transparent;
  border-width: 10px 18px 25px;
}
#addNotePopup:nth-child(1n) {
  -moz-border-image: url(hudborderimage.png) 10 18 25 repeat;
  -webkit-border-image: url(hudborderimage.png) 10 18 25 repeat;
  border-image: url(hudborderimage.png) 10 18 25 repeat;
  background: transparent;
}
#bar:nth-child(1n) { /* Preload the border image (XXX hack) */
  background: url(hudborderimage.png) -1000px -1000px no-repeat white;
}
#closeAddNotePopup {
  position: absolute;
  top: -5px;
  left: -7px;
  width: 13px;
  height: 13px;
  background: url(closebutton.png) top left no-repeat;
  opacity: 0.5;
  text-indent: -1000px;
  overflow: hidden;
}
#closeAddNotePopup:hover {
  opacity: 0.7;
}
#closeAddNotePopup:active {
  opacity: 0.9;
}
#addNotePopup h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 19px;
}
#addNotePopup form {
  margin: -8px -13px -15px;
}
#addNotePopup table,
#addNotePopup p {
  padding: 8px 10px;
  margin: 0;
}
#addNotePopup th,
#addNotePopup td {
  padding: 2px;
  vertical-align: top;
}
#addNotePopup th,
#addNotePopup p {
  text-align: right;
}
#addNotePopup th {
  padding-bottom: 4px;
  text-shadow: 0 1px #000;
}
#addNotePopup .machineResult {
  padding: 0 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#addNotePopup .machineResult[active=true] {
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px rgba(0, 0, 0, 0.6);
}
#addNotePopup input[type=text],
#addNotePopup textarea {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  padding: 2px;
  color: white;
  -moz-user-select: text;
}
#addNotePopup input[type=text]:focus,
#addNotePopup textarea:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  -moz-outline-radius: 2px;
  -webkit-outline-radius: 2px;
  outline-radius: 2px;
}
#addNotePopup input[type=submit] {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  -moz-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  padding: 1px 10px;
  margin: 0 5px 5px 0;
}
#addNotePopup input[type=submit][disabled] {
  color: rgba(255, 255, 255, 0.4);
}
#addNotePopup input[type=submit]:focus {
  -moz-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  outline: 0;
}
#addNotePopup input[type=submit]:not([disabled]):active:hover {
  -moz-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  -webkit-box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  background: rgba(255, 255, 255, 0.4);
}
#addNotePopup input[type=submit]::-moz-focus-inner {
  border: 0;
}
